**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

terraform.tfvars
*.auto.tfvars

.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
*.zip
*.bak
*.old
*.tmp
*.log
*.pem
*.key
__pycache__/
node_modules/

.vs/
