# Copy this file to terraform.tfvars and fill in your values.

resource_group_name = "rg-coalfire-dev"
location            = "eastus"
name_prefix         = "coalfire"

# Your public SSH key, a single line starting with 'ssh-rsa' or 'ssh-ed25519'
admin_ssh_pubkey = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQREPLACE_ME" #Replace key please lol 

admin_username = "azureuser"
vm_size        = "Standard_B2s"

allowed_admin_cidr = "203.0.113.10/32" # change to your IP/32

tags = {
  environment = "dev"
  project     = "coalfire-azure-challenge"
}
